########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

########################################
# Django
########################################
db.sqlite3
media/
staticfiles/
*.log

# allow these specific media files:
!/media/mapper.json
!/media/Sales.csv

########################################
# Environment Files
########################################
.env
.env.*
venv/
.venv/
env/
env_linux/

########################################
# Node / Frontend
########################################
node_modules/
npm-debug.log
yarn.lock
package-lock.json

########################################
# Build & Dist
########################################
/dist/
build/
*.egg*
*.egg-info/

########################################
# OS / IDE
########################################
*.DS_Store
Thumbs.db
.idea/
.vscode/

########################################
# Tasks & Temp
########################################
tasks_logs/

########################################
# App-Specific Exceptions
########################################
# needed folders in your project:
!apps/common/management
!apps/helpers
